article p {
	color: #ff0000;
	font-style: oblique;
	font-family: "Times New Roman", Georgia, Serif;

}

/************************************
 Nav Menu
*************************************/
header img {height: 120px; width: 120px; border-style: solid; border-width: 2px; border-color: red;}

nav ul { padding-left: 0; border-collapse: collapse; margin-top: 0px;
	margin-right: 0px;}
nav li { display: table-cell;}
nav a { 
	display: block; 
	padding: 10px;
	border: 1px solid #333333;
}
nav a:hover { background-color: #ad235e; }

nav ul {
	margin-top: 0px;
	margin-right: 0px;
	padding-left: 0px;
}

a { 
	color: #ad235e;
	text-decoration: none;
}
a:hover { color: #b2cecf;}

/********************
Style
********************/

h1 {
	font-size: 175%;
 }

 .current { 
	background-color: black;
	color: white; 
}

h2 {font-weight: bold;}

.floatright {float: right;}

.floatleft {float: left;}

.bluefloor {border-bottom-style: solid;
	border-width: 1px;
	border-color: blue;}

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 900px;
}

article, aside {display: table-cell;}
article{padding-right : 20px;}
aside{border: 3px solid green; width: 35%; padding: 4px;}

.lead {background-image: url(images/tblbackground.png);
padding: 15px;}

.wrapper {background-color: rgba(0,255,0,0.7);
padding: 10px;
overflow: auto;}

.hometainer {
	background-color: rgba(0,120,150,140.7);
padding: 10px;
overflow: auto;
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 2px;}

img .hometainer {
	float:right;
}


p:first-child {color: blue}

p:hover {color: white;}

img {max-width: 300px; width: 100%;}


/*
**************
For Slideshow
**************
*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin:auto;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  margin:auto;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  margin:auto;
  }



/*
**************
Media Queries
**************
*/

@media (max-width: 480px) {
	article, aside {display: block; width: auto;}
	nav li {display: block;}
}

@media (max-width: 720px) {
	article, aside {display: block; width: auto;}
	nav li{display:block;}
}

@media (max-width: 1200px) {

}



