.upbutton {
  text-align: center;
  top: 0%;
  margin: auto;
  z-index: 998;
}

.downArrow{

  text-align: center;
}

.knowl {
  text-align: center;
  height: 209px;
  width: 652px;
  border-color: black;
  border: solid;
  position: relative;
}

.button {
  position: absolute;
  top: 30%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.rightbutton {
  right: 0;
}

.leftbutton {

}
