<!Doctype html>

<html>
  <head>
    <title>Eulib</title>
    <meta charset="utf-8">
    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src ="http://code.jquery.com/jquery-1.11.3.min.js"></script>


    <link rel="stylesheet" type = "text/css" href = "newCss.css">

  </head>


  <body>
    <div class="container-fluid">

      <div class = "row">

        <div class ="col-4">
          <h1>Eulib</h1>
          <h2>The Math Library</h2>
        </div>
        <div class ="col-4">

        </div>

        <div class="col-1">
          <h3>Sign In</h3>
        </div>

        <!-- <div class = "col-3"> -->
          <!-- <div class ="row"> -->

            <div class ="col-1">
                <input type = "text" placeholder="Username" id = "username">
            </div>

            <div class ="col-1">
              <input type = "password" placeholder="Password" id = "password">
            </div>

            <div class ="col-1">
              <input type = "button" id = "signin_button" value="Sign In">
              <h3 id = "sign_up_link">Or <a href = "sign_up.html">Sign up</a></h3>
            </div>
            <!-- <div class ="col-1">
              <h3>Or</h3>
              <h3 id = "sign_up_link">Or <a href = "sign_up.html">Sign up</a></h3>
            </div> -->
          <!-- </div> -->
        <!-- </div> -->
      </div><!--row1-->
    </div> <!--container-fluid-->


  </body>
</html>
