/*css file for index.html*/
/*eulib.html,signup.html*/


.main_headers {

  text-align: left;
  font-family: arial;
  display: inline-block;



}
.main_headers_input{

  font-family: arial;
  font-weight:100;
  /*width:10%;*/
  /*height: 10%;*/
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  right: 0;
  top:50%;
  left: 0%;
  border-color: black;



}
.input_fields_sign_in{
  position: absolute;
  top:0;
  right:0;
  /*background-color: red;*/
  /*width: 33%;*/
}

/*don't know what this was originally, but was missing selector
  margin: 0 auto;
  width: 5%;
  height: 10%;


  border-color: black;
  border-radius: 2px;
  padding-top: 2px;


}*/

#input_fields_sign_up {

  /*margin: 0 auto;*/


  border-color: black;
  border-radius: 2px;
  padding-top: 2px;
  height: 50%;
  width: 50%;
  position: absolute;
  top:1%;
  right:0%;
  /*background-color: red;*/
}
#sign_up_link > a{
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    background-color: #ccc;

}

#sign_in_label {
  /*in sign_up.html*/
  position: relative;
  /*right:1%;*/
  font-weight: bold;
  display: inline-block;


}

#signup_button {

  position: relative;
  background-color: #ffffff;
  margin: 20px;
}

#signin_button {
  width: auto;
  background-color: #ffffff;
  cursor: pointer;
}

#signin_button:hover {
  background-color: black;
  color:white;


}

#signup_button:hover {
  background-color: black;
  color:white;


}

body {
  color: black;
  font-family: arial;




}


#main_title {
  margin-top: auto;
  color: black;
  font-family: arial;
  height: 20px;
  font-weight: normal;




}

h2 {

  color: black;
  font-family: arial;
  font-size: 14px;
  font-weight: 100;



}

a {

  text-decoration: none;
  color: inherit;
}

#sign_up_label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


#error_message {

  position: relative;
  left: 30%;
  margin-top: auto;




}
input {
  outline: none;
}
textarea {

  vertical-align: top;


}
